# Auto-detect text files and perform LF normalization
* text=auto

# Declare binary files so Git never corrupts line endings
*.jar binary
*.aar binary
*.so binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.keystore binary
*.jks binary
